@tailwind base;
@tailwind components;
@tailwind utilities;

@import './utils/index.scss';
@import './core/index.scss';

// Swiper
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/autoplay';
@import 'swiper/css/effect-coverflow';

// Scrollbar Customize
::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background-color: var(--color-secondary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 1rem;
}

.section_title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
  @include lg {
    font-size: 2rem;
  }
}

.section_description {
  color: var(--color-gray-500);
  font-size: 1.2rem;
}

// ant customization
.ant-btn-primary {
  background-color: var(--color-primary);
  box-shadow: none !important;
}

// custom cursor
.first_cursor {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--color-primary);
  border-radius: 50%;
  z-index: 1111;
  pointer-events: none;
  transition: 300ms ease;
  &.active {
    width: 7rem;
    height: 7rem;
    opacity: 0.3;
  }
}

.second_cursor {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid var(--color-primary);
  border-radius: 50%;
  z-index: 1111;
  pointer-events: none;
  transition: 300ms ease;
  &.active {
    opacity: 0;
  }
}
