.contact_form_section {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    @include md {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .form_wrapper {
      .ant-form {
        .ant-form-item {
          margin-bottom: 0;
          input[type='text'],
          textarea {
            color: var(--color-gray-400);
            line-height: 1.5rem;
            padding: 0.5rem 1rem;
            border: 0.02rem solid var(--color-gray-300);
            border-radius: 0.5rem;
            &::placeholder {
              color: var(--color-gray-300);
              line-height: 1.5rem;
            }
          }
        }
      }
    }
  }
}
