.all_product_section {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2.5rem;
    @include md {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include lg {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @include xl {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
  .products_pagination {
    width: fit-content;
    margin-inline: auto;
    margin-top: 3rem;
    a {
      color: var(--color-gray-700);
    }
    .ant-pagination-disabled {
      a {
        color: var(--color-gray-300);
      }
    }
    .ant-pagination-item {
      &.ant-pagination-item-active {
        color: var(--color-primary);
        border-color: var(--color-primary);
        a {
          color: inherit;
        }
      }
    }
  }
}
