.partner_section {
  .wrapper {
    display: flex;
    align-items: center;
    mask-image: linear-gradient(90deg, transparent, var(--color-white) 20%, var(--color-white) 80%, transparent);
    overflow: hidden;
    &:hover {
      .images_wrapper {
        animation-play-state: paused;
        &:last-child {
          animation-play-state: paused;
        }
      }
    }
    .images_wrapper {
      display: flex;
      align-items: center;
      gap: 45px;
      padding-left: 45px;
      animation: first_scroll var(--partner-anm-time) linear infinite;
      animation-delay: calc(var(--partner-anm-time) * -1);
      &:last-child {
        animation: second_scroll var(--partner-anm-time) linear infinite;
        animation-delay: calc(var(--partner-anm-time) / -2);
      }
      .image_container {
        width: 125px;
        @include md {
          width: 175px;
        }
        img {
          width: 100%;
          height: auto;
          object-fit: contain;
        }
      }
    }
  }
}

@keyframes first_scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes second_scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
